*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

nav{
    display:flex; 
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.navbar_logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.prime{
    color: rgb(9, 112, 37);
}

.navbar{
    background-color: rgb(98, 237, 98);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    color:black;
}

.burger{
    display:none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:black;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        width:50%;
        background-color: rgb(98, 237, 98);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
    }
}