
#footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(110, 241, 127) ;
    min-height: 200px;
    color:white;
}

#footer_fb{
    align-self: center;
    justify-self: center;
}

#footer_ig{
    align-self: center;
    justify-self: center;
}

#footer_indirizzo{
    align-self: center;
    justify-self: center;
}

#footer_chiamaci{
    align-self: center;
    justify-self: center;
}

#footer_orari{
    align-self: center;
    justify-self: center;
}