html{
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto;
}

/****************************** CARD ***********************************************/
.cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    column-gap: 20px;
}

.card_container{
    display:grid;
    grid-auto-rows: 400px auto;
}

.sala_img{
    background: linear-gradient(to bottom left, rgba(110, 241, 127, 0.15), rgba(153, 236, 145, 0.3)),url('../../assets/sala_attrezzi.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilates_img{
    background: linear-gradient(to bottom left, rgba(110, 241, 127, 0.15), rgba(153, 236, 145, 0.3)),url('../../assets/pilates.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossfit_img{
    background: linear-gradient(to bottom right, rgba(110, 241, 127, 0.15), rgba(153, 236, 145, 0.3)),url('../../assets/crossfit.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_nome{
    font-size: 30px;
    padding:10px;
    background-color: rgba(56, 58, 56, 0.322);
}

.card_nome a{
    text-decoration: none;
    color: white;
}

.bottone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

.scopri_btn{
    background: white;
    color:rgba(110, 241, 127) ;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: none;
    padding: 5px;
    text-align: center;
}

.bottone_responsive{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottone_responsive_istr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scopri_btn_responsive{
    background: white;
    color:rgba(110, 241, 127) ;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    border: none;
    padding: 5px;
    text-align: center;
}
.scopri_btn_responsive a{
    text-decoration: none;
    color: rgba(110, 241, 127) ;
}

.scopri_btn_responsive_istr{
    background: rgba(110, 241, 127) ;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    border: none;
    padding: 5px;
}
.scopri_btn_responsive_istr a{
    text-decoration: none;
    color: white;
}


.scopri_btn a{
    text-decoration: none;
    color: rgba(110, 241, 127) ;
}

.scopri_btn a:hover{
    cursor: pointer;
}


.card_nome:hover{
    font-size: 30px;
    color: rgba(110, 241, 127) ;
    transition: 0.6s;
}

.card_container_btn{
    display:grid;
    grid-auto-rows: 400px auto;
    display:none;
}


/****************************** CHI SIAMO ***********************************************/
#chi-siamo{
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.chi-siamo_testo{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height:300px;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color:rgba(110, 241, 127);
    background-color: rgba(56, 58, 56, 0.322);
}

#chi-siamo_img{
    background: linear-gradient(to bottom right, rgba(110, 241, 127, 0.294), rgba(153, 236, 145, 0.192)),url('../../assets/allenati_con_noi.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    position:relative;
}

/************************************* BENVENUTO ***********************************/
.benvenuto{
    display:grid;
    grid-template-rows: 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.benvenuto_titolo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom:10px;
    
}

.benvenuto_paragrafo{
    display: flex;
    align-items: center;
    justify-content: center;
}

/************************************* CORSI ***********************************/
.corsi{
    display:grid;
    grid-template-rows: 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px;
    background-color: rgba(110, 241, 127);
}

.corsi_titolo{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom:10px;
    color: white;
}
.corsi_paragrafo{
    font-size: 20px;
    color: white;
}

/************************************* ISTRUTTORI ***********************************/
.istruttori{
    display:grid;
    grid-template-rows: 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px;
    margin-bottom: 70px;
}

.istruttori_titolo{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom:10px;
    color: black;
}
.istruttori_paragrafo{
    font-size: 20px;
    color: black;
}

.scopri_btn_istr{
    background: rgba(110, 241, 127) ;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: none;
    padding: 5px;
    text-align: center;
}

.scopri_btn_istr a{
    text-decoration: none;
    color: white;
}
.scopri_btn_istr a:hover{
    cursor: pointer;
}

.pt_sala{
    background: linear-gradient(to bottom left, rgba(110, 241, 127, 0.15), rgba(153, 236, 145, 0.3)),url('../../assets/pt_1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pt_pilates{
    background: linear-gradient(to bottom left, rgba(110, 241, 127, 0.15), rgba(153, 236, 145, 0.3)),url('../../assets/pt_3.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pt_crossfit{
    background: linear-gradient(to bottom left, rgba(110, 241, 127, 0.15), rgba(153, 236, 145, 0.3)),url('../../assets/pt_2.png')no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/******************************************* Responsive ***********************************/

@media screen and (max-width: 1500px) {
    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 40px;
        margin-bottom: 70px;
        gap: 20px;
    }

    .card_container_btn{
        display:grid;
        grid-auto-rows: 400px auto;
    }
    .bottone{
        display:none;
    }



    
}

@media screen and (max-width: 1087px) {
    .cards{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 40px;
        margin-bottom: 70px;
        gap: 20px;
    }

    .cards{
        margin-top: 10px;
        padding:10px;
        margin-bottom: 10px;
    }


    
   
}