html{
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto;
}
#container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#chi-siamo{
    font-family: 'Poppins', sans-serif;
}

#chi-siamo_desc{
    padding: 0 0 0 10px;
}


#corsi{
    font-family: 'Poppins', sans-serif;
}

#contatti{
    font-family: 'Poppins', sans-serif;
}

#istruttori{
    font-family: 'Poppins', sans-serif;
}

/*** Card ***/
.card{
    border: solid 1px black;
}

/******  Ridimesione immagni  ******/
#chi-siamo_img{
    background-image: linear-gradient(to bottom right, rgba(110, 241, 127, 0.294), rgba(153, 236, 145, 0.192)),url('../../assets/allenati_con_noi.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}
/******  ********  ******/

#footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(98, 237, 98);
    min-height: 200px;
    color:white;
}

#footer_fb{
    align-self: center;
    justify-self: center;
}

#footer_ig{
    align-self: center;
    justify-self: center;
}

#footer_indirizzo{
    align-self: center;
    justify-self: center;
}

#footer_chiamaci{
    align-self: center;
    justify-self: center;
}

#footer_orari{
    align-self: center;
    justify-self: center;
}