html{
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto;
}

#footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(98, 237, 98);
}

#footer_fb{
    align-self: center;
    justify-self: center;
}

#footer_ig{
    align-self: center;
    justify-self: center;
}

#footer_indirizzo{
    align-self: center;
    justify-self: center;
}

#footer_chiamaci{
    align-self: center;
    justify-self: center;
}

#footer_orari{
    align-self: center;
    justify-self: center;
}